@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

body {
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  color: #000000;
  background-color: #FFFFFF;
}

.main-header {
  background: #FFFFFF;
  color: #000000;
}

.navigation {
  display: flex;
  padding: px 70px;/*ругается на 0 в значении px*/
  align-items: flex-start;/*пока оставим это здесь - потом по флексам посмотрим*/
}

.navigation-link {
  font-family: "PT Sans", sans-serif;
  font-size: 20px;
  font-weight: 700;
  align-items: center;
  line-height: 24px;
  color: inherit;/*пока оставим наследуй*/
  background: inherit;
  text-decoration: none;
  text-transform: capitalize;
}

.navigation-link-current {
  font-family: "PT Sans", sans-serif;
  font-size: 20px;
  font-weight: 700;
  align-items: center;
  line-height: 24px;
  color: inherit;/*пока оставим наследуй*/
  background: inherit;
  text-transform: capitalize;
}

.navigation-link-more {
  font-family: "PT Sans", sans-serif;
  font-size: 16px;
  font-weight: 700;
  align-items: center;
  line-height: 20px;
  padding: 8px 50px;
  color: #FFFFFF;
  text-decoration: none;
  text-transform: uppercase;
  background: #756157;/*свойства стилей под кнопку*/
  border-radius: 4px;
}

.navigation-list,
.navigation-user,
.advantages-list {
  list-style: none;
}

.main-index {
  color: #000000;
  background:#FFFFFF;
  background-image: url("../images/index-background.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
}

.hero-block,
.search-hotel {
  font-family: "PT Sans", sans-serif;
  font-size: 22px;
  font-weight: 400;
  line-height: 26px;
  text-align: center;
  color: #333333;
  background:#FFFFFF;
}

.hero-title,
.search-title {
  font-family: "PT Sans", sans-serif;
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
  background:#FFFFFF;
}

.advantages-list {
  text-align: center;
}

.advantages-title {
font-weight: 700;
font-size: 24px;
line-height: 28px;
text-transform: uppercase;
color: #000000;
}

.advantages-item {
font-weight: 400;
font-size: 18px;
line-height: 21px;
color: #333333;
background:#FFFFFF;
}

.blue {
  background: #82B3D3;
  color: #FFFFFF;
}

.light-blue {
  background: rgba(131, 179, 211, 0.12);
}

.light-blue-blue {
  background: rgba(131, 179, 211, 0.2);
}

.search-link {
  font-family: "PT Sans", sans-serif;
  font-size: 20px;
  font-weight: 700;
  align-items: center;
  line-height: 36px;
  padding: 8px 50px;
  color: #FFFFFF;
  text-decoration: none;
  text-transform: uppercase;
  background: #756157;/*свойства стилей под кнопку*/
  border-radius: 4px;
}

.subscribe {
  font-size: 22px;
  font-weight: 400;
  line-height: 26px;
  text-align: center;
  padding: 96px 258px 104px;
  color: #FFFFFF;
  background:#FFFFFF;
  background-image: url("../images/subscribe-background.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
}
